<div class="container mt-5">
    <div class="row">
        <div class="col-sm-2 border p-0">
            <nav>
                <ul class="list-unstyled">
                    <li>
                        <span class="fa fa-text-width"></span>
                    </li>
                    <li> 
                        <span class="fa fa-image"></span> 
                    </li>
                    <li>
                      <span class="fa fa-download"></span>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="col-sm-8 border">
    
                </div>
                <div class="col-sm-4 border">
            
                </div>
            </div>
        </div>
    </div>
</div>